<script src="{{ theme:asset src='assets/js/jquery.min.js'}}?v={{ now format="YmdHis" }}"></script>
<script src="{{ theme:asset src='assets/js/swiper-bundle.min.js'}}?v={{ now format="YmdHis" }}"></script>
<script src="{{ theme:asset src='assets/js/isotope.pkgd.js'}}?v={{ now format="YmdHis" }}"></script>
<script src="{{ theme:asset src='assets/js/script.js'}}?v={{ now format="YmdHis" }}"></script>
<script src="{{ theme:asset src='assets/js/aos.js'}}?v={{ now format="YmdHis" }}"></script>
<script src="{{ theme:asset src='assets/js/parallax.min.js'}}?v={{ now format="YmdHis" }}"></script>
<script src="{{ theme:asset src='assets/js/jquery.timepicker.js'}}?v={{ now format="YmdHis" }}"></script>
<script src="{{ theme:asset src='assets/js/jquery-ui.js'}}?v={{ now format="YmdHis" }}"></script>
<script src="{{ theme:asset src='assets/js/jquery.magnific-popup.min.js'}}?v={{ now format="YmdHis" }}"></script>
<script src="{{ theme:asset src='assets/js/custom.js'}}?v={{ now format="YmdHis" }}"></script>
<script type="text/javascript">
	const blogSearchUrl = "{{ route:blog.search }}";
	const blogPageRedirect = "/blog";
	var hours = {{ footer.hours | to_json | raw }};
</script>