  <section class="about-section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-6" data-aos="fade-right" data-aos-duration="1000">
                <div class="about-shape-element">
                    <div class="about-img">
                        {{ image }}<img src="{{ url }}" alt="">{{ /image }}
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="about-text">
                    <h5 class="sub-title">{{ subtitle }}</h5>
                    <h2>{{ title }}</h2>
                    <div class="text-shape">
                        <svg width="25.5px" height="25.5px">
                            <path fill-rule="evenodd" fill="rgb(193, 153, 119)"
                            d="M5.506,12.383 L12.615,5.493 L19.506,12.601 L12.397,19.492 L5.506,12.383 Z" />
                            <path fill-rule="evenodd" stroke="rgb(193, 153, 119)" stroke-width="1px"
                            stroke-linecap="butt" stroke-linejoin="miter" fill="none"
                            d="M0.511,12.301 L12.697,0.488 L24.511,12.674 L12.324,24.487 L0.511,12.301 Z" />
                        </svg>
                        <svg width="128px" height="1px">
                            <path fill-rule="evenodd" fill="rgb(193, 153, 119)"
                            d="M-0.000,0.999 L-0.000,-0.000 L128.000,-0.000 L128.000,0.999 L-0.000,0.999 Z" />
                        </svg>
                    </div>
                    <p>{{ description }}</p>
                    {{ if button_text }}<a href="{{ button_url }}" class="btn btn-primary">{{ button_text }}</a>{{ /if }}
                </div>
            </div>
        </div>
    </div>
</section>