{{ if segment_1 == 'chef' }}
<section class="chef-page-professional-section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="professional-chef-title-text text-center">
          <h5 class="sub-title">{{ section_title }}</h5>
          <h2>{{ section_subtitle }}</h2>
          <div class="text-shape">
            <svg width="93px" height="1px">
              <path fill-rule="evenodd" fill="rgb(193, 153, 119)"
              d="M-0.000,0.999 L-0.000,-0.000 L128.000,-0.000 L128.000,0.999 L-0.000,0.999 Z" />
            </svg>
            <svg width="25.5px" height="25.5px">
              <path fill-rule="evenodd" fill="rgb(193, 153, 119)"
              d="M5.506,12.383 L12.615,5.493 L19.506,12.601 L12.397,19.492 L5.506,12.383 Z" />
              <path fill-rule="evenodd" stroke="rgb(193, 153, 119)" stroke-width="1px" stroke-linecap="butt"
              stroke-linejoin="miter" fill="none"
              d="M0.511,12.301 L12.697,0.488 L24.511,12.674 L12.324,24.487 L0.511,12.301 Z" />
            </svg>
            <svg width="93px" height="1px">
              <path fill-rule="evenodd" fill="rgb(193, 153, 119)"
              d="M-0.000,0.999 L-0.000,-0.000 L128.000,-0.000 L128.000,0.999 L-0.000,0.999 Z" />
            </svg>
          </div>
        </div>
      </div>
      {{ if collections == "chefs" }}
      {{ collection:chefs as="chefs" }}
      {{ /if }}
      {{ chefs }}
      <div class="col-12 col-md-4" data-aos="fade-down" data-aos-duration="1000">
        <div class="chef-img-box">
          <div class="chef-img">
            {{ image }}<img src="{{ url }}" alt="{{ title }}">{{ /image }}
          </div>
          <div class="chef-main-text-box">
            <div class="chef-text">
              <h4><a href="{{ profile_link }}">{{ title }}</a></h4>
              <h5>{{ role }}</h5>
            </div>
          </div>
        </div>
      </div>
      {{ /chefs }}
      {{ if collections == "chefs" }}
      {{ /collection:chefs }}
      {{ /if }}
    </div>
  </div>
</section>
{{ /if }}
{{ if segment_1 == 'about' }}

<section class="professional-chef-section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="professional-chef-title-text text-center">
          <h5 class="sub-title">{{ section_title }}</h5>
          <h2>{{ section_subtitle }}</h2>
          <div class="text-shape">
            <svg width="93px" height="1px">
              <path fill-rule="evenodd" fill="rgb(193, 153, 119)"
              d="M-0.000,0.999 L-0.000,-0.000 L128.000,-0.000 L128.000,0.999 L-0.000,0.999 Z" />
            </svg>
            <svg width="25.5px" height="25.5px">
              <path fill-rule="evenodd" fill="rgb(193, 153, 119)"
              d="M5.506,12.383 L12.615,5.493 L19.506,12.601 L12.397,19.492 L5.506,12.383 Z" />
              <path fill-rule="evenodd" stroke="rgb(193, 153, 119)" stroke-width="1px" stroke-linecap="butt"
              stroke-linejoin="miter" fill="none"
              d="M0.511,12.301 L12.697,0.488 L24.511,12.674 L12.324,24.487 L0.511,12.301 Z" />
            </svg>
            <svg width="93px" height="1px">
              <path fill-rule="evenodd" fill="rgb(193, 153, 119)"
              d="M-0.000,0.999 L-0.000,-0.000 L128.000,-0.000 L128.000,0.999 L-0.000,0.999 Z" />
            </svg>
          </div>
        </div>
      </div>

      {{ if collections == "chefs" }}
      {{ collection:chefs as="chefs" limit="3" }}
      {{ /if }}
      {{ chefs }}

      <div class="col-12 col-md-4" data-aos="fade-down" data-aos-duration="1000">
        <div class="chef-img-box">
          <div class="chef-img">
            {{ image }}<img src="{{ url }}" alt="{{ title }}">{{ /image }}
          </div>
          <div class="chef-main-text-box">
            <div class="chef-text">
              <h4><a href="{{ profile_link }}">{{ title }}</a></h4>
              <h5>{{ role }}</h5>
            </div>
          </div>
        </div>
      </div>

      {{ /chefs }}
      {{ if collections == "chefs" }}
      {{ /collection:chefs }}
      {{ /if }}
      <div class="col-12 text-center">
        {{ if button_text }}<a href="{{ button_url }}" class="btn btn-primary">{{ button_text }}</a>{{ /if }}
      </div>
    </div>
  </div>
</section>

{{ /if }}