<section class="hero-section page-hero-section" style="background-image: url({{ background_image }}  {{ url }} {{/background_image}});">
    <div class="container">
        <div class="row">
            <div class="page-text-section text-center">
                <div class="hero-text">
                    <h6 class="page-sub-title">
                        <a href="/">Home<span>
                            <svg width="12px" height="12px"><path fill-rule="evenodd" fill="rgb(231, 182, 140)"d="M0.343,6.015 L5.985,0.343 L11.657,5.985 L6.015,11.657 L0.343,6.015 Z" /></svg></span>
                        {{ subtitle }}</a>
                    </h6>
                    <h1>{{ subtitle }}</h1>
                </div>
            </div>
        </div>
    </div>
</section>

