 <!-- start items-menu section -->
 {{ menu_section }}
 {{ section }}
 <section class="items-manu-page-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="items-menu-page-title-text text-center">
                    <h5 class="sub-title">{{ section_title }}</h5>
                    <h2>{{ section_subtitle }}</h2>
                    <div class="text-shape">
                        <svg width="93px" height="1px">
                            <path fill-rule="evenodd" fill="rgb(193, 153, 119)" d="M-0.000,0.999 L-0.000,-0.000 L128.000,-0.000 L128.000,0.999 L-0.000,0.999 Z" />
                        </svg>
                        <svg width="25.5px" height="25.5px">
                            <path fill-rule="evenodd" fill="rgb(193, 153, 119)" d="M5.506,12.383 L12.615,5.493 L19.506,12.601 L12.397,19.492 L5.506,12.383 Z" />
                            <path fill-rule="evenodd" stroke="rgb(193, 153, 119)" stroke-width="1px" stroke-linecap="butt" stroke-linejoin="miter" fill="none" d="M0.511,12.301 L12.697,0.488 L24.511,12.674 L12.324,24.487 L0.511,12.301 Z" />
                        </svg>
                        <svg width="93px" height="1px">
                            <path fill-rule="evenodd" fill="rgb(193, 153, 119)" d="M-0.000,0.999 L-0.000,-0.000 L128.000,-0.000 L128.000,0.999 L-0.000,0.999 Z" />
                        </svg>
                    </div>
                </div>
            </div>
            <div class="col-12" data-aos="fade-down" data-aos-duration="1000">
                <ul class="items-menu-text menu-page-text-1">
                    {{ menu_items }}
                    {{ if products }}
                    {{ products }}

                    <li>
                        <div class="items-list">
                            <a class="menu-item popup-with-form menu-popup-link" href="#test-menu-cart"  data-slug="{{ slug }}" data-type="popup">
                                <h4>{{ title }}</h4>
                                <svg width="100%" height="5px">
                                    <path fill-rule="evenodd" stroke="rgb(227, 227, 227)" stroke-width="2px" stroke-dasharray="1, 4"stroke-linecap="round" stroke-linejoin="miter" fill="none" d="M2.000,0.999 L440,0.999 "></path>
                                </svg>
                                <h4>{{ price }}</h4>
                            </a>
                        </div>
                        <p>{{ description }}</p>
                    </li>
                    {{ /products }}
                    {{ /if }}
                    {{ /menu_items }}
                </ul>
            </div>
        </div>
    </div>
    <div class="parallax-window" data-parallax="scroll" data-image-src="{{ image }}{{ url }}{{ /image }}">
    </div>
</section>
<!-- end items-menu section -->
{{ /section }}
{{ /menu_section }}